@font-face {
  font-family: "Charles Wright Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Charles Wright Bold"), url(CharlesWright-Bold.woff) format("woff");
}
.reg {
  display: inline-block;
  background: linear-gradient(to bottom, #f8d038 0%, #cea616 100%);
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px #ddd;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  color: black;
  vertical-align: top;
}
.reg-text {
  text-transform: uppercase;
  font-family: "Charles Wright Bold", sans-serif;
  letter-spacing: 0.2em;
  width: calc(100% - 75px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
input[type="file"] {
  display: none;
}

.reg-capture {
  cursor: pointer;
  width: 70px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.reg-text::placeholder {
  opacity: 0.2;
}

.send {
  margin: 10px 0;
  width: 100%;
}
.imagemap {
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
}

.highlight {
  width: 50px;
  height: 50px;
  position: absolute;
  border: 3px solid red;
  background-color: yellow;
  color: red;
  top: -10000;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
}

.imagemap img {
  vertical-align: middle;
  border: 1px lightgray solid;
  width: 100%;
  border-radius: 4px;
  margin: 4px 0px;
}

.wait {
  opacity: 1;
  display: none;
  position: absolute;
  width: 50%;
  top: 50vh;
  left: 25%;
}
